<md-card *ngIf="post">
  <md-card-header [style.background-image]="'url(' + post.image + ')'">
    <img *ngIf="false" md-card-image src="{{post.image}}">
    <md-card-title><h1><a [routerLink]="'/posts/'+post.sluged_title">{{post.title}}</a></h1></md-card-title>
    <md-card-subtitle>{{post.subtitle}}</md-card-subtitle>
    <md-card-subtitle>{{post.created_at | date:'fullDate'}}</md-card-subtitle>
  </md-card-header>  
  <md-card-content>
    <loader *ngIf="loading" [_size]="10"></loader>
    <markdown *ngIf="post.content">
      {{post.content}}
    </markdown>
    <comments-section *ngIf="!preview && post" [postid]="post.id"></comments-section>
  </md-card-content>
  <button *ngIf="preview" md-button (click)="router.navigate(['/posts', post.sluged_title])">Lire tout</button>
</md-card>
<loader *ngIf="!post" [_size]="10"></loader>