:host{
    flex:1;
}
:host.preview md-card-content{
    max-height: 350px;
    overflow: hidden;
}
md-card{
    padding-top: 0;
    padding-bottom: 0;
    margin: auto;
    width: 100%;
    box-sizing: border-box;
}
md-card-header{
    position: relative;
    flex-direction: column;
    height: 300px;
    margin-right: -24px;
    margin-left: -24px;
    padding: 0 24px;
    
}
md-card-header img{
    margin-top: 0;
}
md-card-header /deep/ .md-card-header-text{
    position: absolute;
    bottom: 0;
    padding-bottom: 15px;
    height: auto;
    margin-left: -10px
}
h1{
    margin: 0;

}
@media (max-width:600px){
  h1{
    font-size: x-large;
  }  
  md-card-header{
    margin-right: -16px;
    margin-left: -16px;
    padding: 0 16px;
  }
  comments-section{
    margin: auto -16px !important;
    padding: 16px !important;
  }
}
comments-section{
    margin: auto -24px;
    padding: 24px;
  }
h1 a{
    color: #FFF;
    font-weight: normal;
}
md-card-subtitle{
    color: #FFF;
}

